body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#folder-structure {
    width: 300px;
    min-width: 300px;
    background-color: rgba(240, 240, 240, 0.7);
    backdrop-filter: blur(5px);
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}

#viewer-container {
    flex-grow: 1;
    height: 100vh;
    width: 100vw;
    transition: margin-left 0.3s ease-in-out;
}

.folder, .file {
    margin: 5px 0;
    padding: 5px;
    display: flex;
    align-items: center;
}

.folder {
    cursor: default;
    flex-direction: column;
    align-items: flex-start;
}

.file {
    cursor: pointer;
}

    .file:hover {
        background-color: rgba(224, 224, 224, 0.5);
    }

.file-checkbox {
    margin-right: 10px;
}

.folder > .folder-content {
    display: none;
    width: 100%;
}

.folder.open > .folder-content {
    display: block;
}

.toggle-button {
    cursor: pointer;
    margin-right: 5px;
    user-select: none;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
    width: 100%;
}

h2 {
    margin-top: 0;
    color: #333;
}

#load-selected-files {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    #load-selected-files:hover {
        background-color: #45a049;
    }

#progress-container {
    margin-top: 10px;
    display: none;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

#progress {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

#progress-text {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}
