body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#folder-structure {
    width: 300px;
    background-color: rgba(240, 240, 240, 0.7);
    backdrop-filter: blur(5px);
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    left: -300px;
    transition: left 0.3s ease-in-out;
    z-index: 10;
}

    #folder-structure.visible {
        left: 0;
    }

#viewer-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.folder, .file {
    margin: 5px 0;
    padding: 5px;
    display: flex;
    align-items: center;
}

.folder {
    cursor: default;
    flex-direction: column;
    align-items: flex-start;
}

.file {
    cursor: pointer;
}

    .file:hover {
        background-color: rgba(224, 224, 224, 0.5);
    }

.file-checkbox {
    margin-right: 10px;
}

.folder > .folder-content {
    display: none;
    width: 100%;
}

.folder.open > .folder-content {
    display: block;
}

.toggle-button {
    cursor: pointer;
    margin-right: 5px;
    user-select: none;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
    width: 100%;
}

h2 {
    margin-top: 0;
    color: #333;
}

#load-selected-files {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    #load-selected-files:hover {
        background-color: #45a049;
    }

#progress-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

#progress {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

#progress-text {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
